/*
  Image from: https://vignette3.wikia.nocookie.net/steamtradingcards/images/f/f5/Call_of_Cthulhu_The_Wasted_Land_Background_The_Wasted_Land.jpg/revision/latest?cb=20141127120931
*/

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-image: url('../images/Call_of_Cthulhu_The_Wasted_Land_Background_The_Wasted_Land.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'bloodynormal';
  font-size: 70px;
  color: #af111c;
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 55px #333;
  position: absolute;
  top: 2vh;
  animation: fadeOut 10s infinite;
}

#user-input-box {
  display: flex;
}

#input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90vw;
  background-color: rgba(40, 40, 40, 0.9);
  padding: 1.2em;
  border-radius: 0.2em;
  border: 2px solid rgb(30, 30, 30);
  box-shadow: 1px 1px 105px rgba(175, 17, 28, 0.7);
}

#input-box > input {
  font-family: 'bloodynormal';
  color: #af111c;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  outline: none;
  border: 1px solid rgba(40, 40, 40, 0.9);
  background-color: rgba(90, 90, 90, 0.3);
}

#winner-message {
  position: absolute;
  bottom: 10vh;
  margin: 0;
  max-width: 80vw;
  text-align: center;
  font-size: 50px;
  color: green;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 0.2em;
  padding: 0.2em;
  text-shadow: 2px 2px 55px #333;
  z-index: 1000;
}

#input-box > .wrong-letter {
  background-color: rgba(175, 17, 28, 0.3);
}

#input-box > .correct-letter {
  background-color: green;
  color: white;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
