body {
  margin: 0;
  background-image: url('../images/StockSnap_L4AS0Y1OT2.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #e8e8e8;
  text-shadow: 2px 2px 55px #333;
  position: absolute;
  top: 2vh;
}

#input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90vw;
  background-color: rgba(70, 70, 70, 0.9);
  padding: 2em;
  border-radius: 0.2em;
}

#input-box > input {
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  outline: none;
}

#winner-message {
  position: absolute;
  bottom: 10vh;
  margin: 0;
  max-width: 80vw;
  text-align: center;
  font-size: 50px;
  color: green;
  text-shadow: 2px 2px 55px #333;
}

.wrong-letter {
  background-color: red;
  color: white;
}

.correct-letter {
  background-color: green;
}
